@charset "UTF-8";
.body {
	background-color: #777;
}
.primary_header {
	background-color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
	float: center;
	clear: left;
	margin: 10px;
}
.secondary_header {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ebebeb;
	float: center;
	clear: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.col-container {
	display: table;
	width: 97%;
	float: center;
	text-align: center;
	background-color: #ebebeb;
	font-family: "Source Sans Pro";
	margin: 10px;
}
.col {
	display: table-cell;
	border-left: 10px solid;
	border-color: #777;
	margin: 10px;
	text-align: center;
	background-color:#ebebeb;
}
.article {
	background-color: #777;
	font-family: "Source Sans Pro";
	text-align: center;
	margin: 10px;
	border: 10px solid;
	border-color: #777;
}
.sub_article {
	background-color: #ebebeb;
	font-family: "Source Sans Pro";
	text-align: center;
	margin: 10px;
}

.footer {
	text-align: center;
	padding-top: 10px;
	float: center;
	padding-bottom: 10px;
	background-color: #ebebeb;
	clear:left;
	margin: 10px;
}
.title {
	text-align: center;
	color: black;
	margin: 10px;
}



